@media only screen and (max-width : 1920px) {
    .header {
        background: url('../img/header-bg-desctop.jpg') no-repeat right top;
        background-size: 100vw;
        
        &-adds {
            h4 {
                font-size: rem(20);
            }
        }
    }
}
@media only screen and (max-width : 1400px) {
    .header {
        &-adds {
            position: static;
            width: 100%;

            &__info {
                order: 2;
                height: auto;
                
                &-block {

                    a {
                        margin-top: 30vh;
                    }
                }
            }
            &__contacts {
                justify-content: center;
                
                a {
                    margin: 0 auto;
                }
            }
        }
        &-main {
            &__menu {
                margin-left: auto;
            }
        }
        .laungages {
            margin-bottom: 1rem;
        }
    }
    .sequrity {
        padding: 120px 0 30px;
    }
}
@media only screen and (max-width : 1200px) {
    .header {
        padding-bottom: 0;

        &-adds {
            &__contacts {
                height: 110px;
            }
        }
    }
    .sequrity {
        padding: 80px 5% 30px;
        &__title {
            margin-bottom: 50px;
        }
    }
    .waste {
        padding: 60px 5%;
    }

    .form-block {
        padding-top: 100px;
        padding-bottom: 60vh;
        &__form {
            margin: 0 auto;
        }
        form {
            margin: 0 auto;
        }
        &__bg {
            width: 100%;
            height: 50vh;
            right: 0;
            top: auto;
            bottom: 0;
        }
    }
    .skills {
        flex-wrap: wrap;
        &__item {
            width: 50%;
            margin-bottom: 50px;
        }
    }
    .licenses {
        padding: 100px 0;
    }
    .catalog {
        overflow: hidden;
    }
}
@media only screen and (max-width : 992px) {
    .header {
        background: url('../img/header-bg-desctop.jpg') no-repeat center top;
        background-size: 130%;
        &-main {
            &__menu {
                &-link {
                    margin-right: 45px;
                }
            }
        }
    }
    .sequrity {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
        }
    }
    .waste {
        padding: 50px 0;

        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 100%;
        }
    }
    .about {
        padding: 100px 0;
    }
    .skills {
        margin-bottom: 70px;

        &__item {
            width: 100%;
            text-align: center;
        }
        &__title {
            padding: 13px 0;
        }
    }
    .licenses  {
        padding: 80px 0;
    }
    .form-block {
        padding-top: 80px;
    }
    .footer {
        padding: 40px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center; 
        }
        &__logo {
            text-align: center;
            margin-bottom: 30px;
        }
        &__contacts {
            margin: 0 0 30px;
            width: 100%;
        }
    }
}

@media only screen and (max-width : 768px) {
    .header {
        background: url('../img/header-bg-desctop.jpg') no-repeat center top -10%;
        background-size: cover;
        padding-bottom: 0;

        &-main {
            &__menu {
                &-link {
                    margin-right: 25px;
                    font-size: rem(14);
                }
            }
        }
        &-topbar {
            &__logo {
                margin-right: 25px;
            }
        }
    }
    .form-block {
        width: 100%;
        &__form {
            width: 90%;
        }
    }
    .footer {
        &__contacts {
            display: none !important;
        }
    }
}

@media only screen and (max-width : 576px) {
    .header {
        background: url('../img/header-bg-mobile.jpg') no-repeat center top;
        background-size: cover;

        &-main {
            height: calc(100vh - 50px);

            &__title {
                font-size: rem(20);

                span {
                    font-size: rem(35);
                }
            }
            &__link {
                margin: 25px 0;
            }
            &__menu {
                margin-left: auto;
                margin-right: 10%;
                ul {
                    flex-direction: column;
                    li {
                        margin-bottom: 8px;
                    }
                }
            }
            &__topbar {
                align-items: flex-start;
            }
        }
        &-adds {
            h4 {
                font-size: rem(13);
            }
            &__contacts {
                flex-direction: column;
                height: auto;
                padding: 20px 0;
            }
            &__info {
                &-block {
                    padding: 50px 15px;
                    
                    a {
                        margin-top: 10vh;
                    }
                }
            }
            &__phones {
                margin: 0 auto;
            }
        }
    }
    .about {
        padding: 80px 5%;
    }
    .sequrity {
        &__item {
            padding: 15px 15px 0;
            margin-top: 15px;
        }
        &__title {
            margin-bottom: 30px;
        }
    }
    .waste {
        &__item {
            padding: 15px 15px 0;
            margin-top: 15px;
        }
        &__title {
            margin-bottom: 30px;
        } 
    }
    .form-block {
        padding-bottom: 55vh;
        form {
        }

        &__contacts {
            flex-direction: column;
            align-items: center;
        }
        &__phone {
            margin-bottom: 10px;
        }
    }
    .skills {
        &__item {
            padding: 15px 0;
        }
    }
}

@media only screen and (max-width : 425px) {
    .header {
        &-main {
            &__title {
                span {
                    font-size: rem(30);
                }
            }
        }
        &-adds {
            h4 {
                font-size: rem(11);
            }
            &__info-block {
                span {
                    margin-top: 1rem;
                }
            }
        }
    }
}