// Fonts
$fw-extra          : 800;
$fw-bold           : bold;
$fw-semi           : 600;
$fw-medium         : 500;
$fw-regular        : normal;
$fw-light          : 300;

// Size

$mainFontSize    : 18px;


// Main colors
$main-text-color       : #0e2d21;
$green-text            : #304744;
$main-light-color      : #fff;
$btn-color             : #fff4e9;
$main-color            : #af9164;
$main-red-color        : #ff6464;
$dark-color            : #191919;

$dark-grey-color       : #eceeee;
$grey-color            : #a7a7a7;
$medium-light-color    : #fff4e9;